# list

In [1]:
fruits = ["apple","mango","oranges"]
print(type(fruits))
print(fruits)

<class 'list'>
['apple', 'mango', 'oranges']

In [2]:
num=[1,2,3,4,5,6,8]
print(len(num))
print(num)

7
[1, 2, 3, 4, 5, 6, 8]

In [3]:
num=[1,2,3,4,5,6,8]
b=fruits+num
b

['apple', 'mango', 'oranges', 1, 2, 3, 4, 5, 6, 8]

In [4]:
fruits=["apple","mango","oranges","banana","tomato"]
print(fruits)
fruits.append("cherry")
print(fruits)
fruits.remove("tomato")
print(fruits)

['apple', 'mango', 'oranges', 'banana', 'tomato']
['apple', 'mango', 'oranges', 'banana', 'tomato', 'cherry']
['apple', 'mango', 'oranges', 'banana', 'cherry']

In [5]:
num=list(range(0,50,2))
print(num)
print(len(num))
print(min(num))
print(max(num))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
25
0
48

In [6]:
mixed=[13,"two","fife",23]
print(mixed)

[13, 'two', 'fife', 23]

# dictionary

In [7]:
dic={"m":"mango","a":"apple","s":"screen","f":"four"}
print(dic)

{'m': 'mango', 'a': 'apple', 's': 'screen', 'f': 'four'}

In [8]:
week= {"monday":"peer","tuesday":"mangal","wednesday":"budd",
       "thursday":"zeyarat","friday":"jumma","saturday":"hafta","sunday":"itwar"}
t=print(len(week))
print(type(week))
print(week)

7
<class 'dict'>
{'monday': 'peer', 'tuesday': 'mangal', 'wednesday': 'budd', 'thursday': 'zeyarat', 'friday': 'jumma', 'saturday': 'hafta', 'sunday': 'itwar'}

In [9]:
print(week["thursday"])

zeyarat

In [4]:
print(week["sunday"])

itwar

In [5]:
week.update({"sunday":"Itwaar"})
week

{'monday': 'peer',
 'tuesday': 'mangal',
 'wednesday': 'budd',
 'thursday': 'zeyarat',
 'friday': 'jumma',
 'saturday': 'hafta',
 'sunday': 'Itwaar'}

In [9]:
week.update({"wednesday":"third day of week"})
print(week)

{'monday': 'peer', 'tuesday': 'mangal', 'wednesday': 'third day of week', 'thursday': 'zeyarat', 'friday': 'jumma', 'saturday': 'hafta', 'sunday': 'itwar'}

In [13]:
x={"monday":"peer","tuesday":"mangal","wednesday":"budd",
   "thursday":"zeyarat","friday":"jumma","saturday":"hafta","sunday":"itwar"}
x=set(x)
print(x)
print(type(x))

{'tuesday', 'sunday', 'monday', 'thursday', 'saturday', 'wednesday', 'friday'}
<class 'set'>

In [17]:
def smple1(a,b):   
    for i in a:
        if i not in b:
            b.append(i)
    return b

In [18]:
smple1([3,2,2,5,3,6,7,4,5,8],[])

[3, 2, 5, 6, 7, 4, 8]

In [26]:
def smple1(a):
    b=[]
    for i in a:
        if i not in b:
            b.append(i)
    return b

In [27]:
a=[3,2,2,5,3,6,7,4,5,8]
smple1(a)

[3, 2, 5, 6, 7, 4, 8]

In [19]:
print(list(set([3,2,2,5,3,6,7,4,5,8])))

[2, 3, 4, 5, 6, 7, 8]

In [20]:
a =['p','y','t','h','o','n']
b = ""
for x in a:
    b=b + x
print(b)

python

In [22]:
def freq(x):
    count = 0
    for i in a:
        if x==i:
            count =count +1
    return count

In [23]:
a=[3,2,2,5,3,6,7,4,5,8,9,3,1,2,5,4,3,3,3]
freq(3)

6

In [10]:
a=[3,2,2,5,3,6,7,4,5,8,9,3,1,2,5,4,3,3,3]
b=[]
c=len(a) - 1
while c >= 0:
    b.append(c)
    c = c - 1
print(b)

[18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [22]:
a=[3,2,2,5,3,6,7,4,5,8,9,3,1,2,5,4,3,3,3]
b=[]
c=len(a)-1
while c >= 0:
    b.append(c)
    c = c - 1
print(b)

[18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [9]:
z=[3,2,2,5,3,6,7,4,5,8,9,3,1,2,5,4,3,3,3]
print(z)
z.reverse()
print(z)

[3, 2, 2, 5, 3, 6, 7, 4, 5, 8, 9, 3, 1, 2, 5, 4, 3, 3, 3]
[3, 3, 3, 4, 5, 2, 1, 3, 9, 8, 5, 4, 7, 6, 3, 5, 2, 2, 3]

In [10]:
s =[5,4,3,2,3]
t=[]
for i in s:
    t.append(i**3)  
print(t)

[125, 64, 27, 8, 27]

In [11]:
a=[3,4,2,5,6]
b=[]
for i in a:
    b.append(i**2)
print(b)

[9, 16, 4, 25, 36]

In [20]:
f=[3, 2, 2, 5, 3, 6, 7, 4, 5, 8, 9, 3, 1, 2, 5, 4, 3, 3, 3]
g=[]
for i in f:
    g.append(i**5 )   
print(g)

[243, 32, 32, 3125, 243, 7776, 16807, 1024, 3125, 32768, 59049, 243, 1, 32, 3125, 1024, 243, 243, 243]

In [21]:
def sq(h,j):
    for i in h:
        j.append(i**2)
    return j

In [22]:
j = []
sq([3, 1, 2, 5, 4, 3],j)

[9, 1, 4, 25, 16, 9]

In [14]:
c= [3,4,5,2,4]
sum=1
for i in c:
    sum=sum*i
    print(sum)

3
12
60
120
480

In [25]:
def lvalue(d):   
    for i in d:
        i=max(d)  
    return(i)

In [26]:
lvalue([3,11,6,7,8,4,2,1,5,9,12,13,14,1,19,0])

19

In [23]:
import random
e=random.sample(range(0,200),(80))
e

[121,
 108,
 184,
 68,
 137,
 91,
 14,
 119,
 83,
 48,
 180,
 47,
 104,
 155,
 149,
 103,
 37,
 20,
 99,
 130,
 190,
 179,
 78,
 7,
 176,
 69,
 131,
 15,
 33,
 49,
 53,
 45,
 101,
 35,
 72,
 129,
 10,
 170,
 134,
 2,
 174,
 63,
 52,
 44,
 151,
 95,
 100,
 122,
 154,
 11,
 98,
 17,
 164,
 9,
 87,
 128,
 175,
 109,
 56,
 3,
 71,
 148,
 106,
 16,
 185,
 187,
 79,
 97,
 183,
 133,
 191,
 34,
 64,
 145,
 74,
 12,
 43,
 73,
 166,
 169]

In [25]:
def lvalue(e):
    ln=e[0]
    for i in e:
        if i>ln:
            ln=i
    return ln

In [26]:
lvalue(e)

191

In [27]:
def svalue(e):
    ln=e[0]
    for i in e:
        if(i<ln):
            ln=i
    return ln

In [28]:
svalue(e)

2

In [136]:
num=5
for i in range(1,num+1):
    str=""
    for j in range(i):
        str=str+"*"
    print(str)

*
**
***
****
*****

In [141]:
num=5
for i in range(1,num+1):
    str=""
    for j in range(num-i):
        str=str+" "
    for k in range(i):
        str=str+"*"
    print(str)

    *
   **
  ***
 ****
*****

In [142]:
num=5
for i in range(1,num+1):
    str=""
    for j in range(num-i):
        str=str+" "
    for k in range(i):
        str=str+" *"
    print(str)

     *
    * *
   * * *
  * * * *
 * * * * *