In [2]:
num=5
str1=""
count=1
for i in range(1,num+1):
    str1=str1+str(count)
    count=count+1
    print(str1)

1
12
123
1234
12345

In [3]:
num=5
for i in range(1,num+1):
    str1=""
    for j in range(i):
        str1=str1+str(j+1)+""   
    print(str1)

1
12
123
1234
12345

In [2]:
num=5
#count=1
for i in range(1,num+1):
    str1=""
    for j in range(num-i):
        str1=str1+" "
    for k in range(i):
        str1=str1+str(k+1)+""
    print(str1)

    1
   12
  123
 1234
12345

In [3]:
num=5
for i in range(1,num+1):
    str1=""
    for j in range(num-i):
        str1=str1+" "
    for k in range(i):
        str1=str1+str(k+1)+" "
    print(str1)

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [4]:
num=5
for i in range(1,num+1):
    str1=""
    for j in range(num-i):
        str1=str1+" "
    for k in range(i):
        str1=str1+str(2)+" "
    print(str1)

    2
   2 2
  2 2 2
 2 2 2 2
2 2 2 2 2

In [5]:
num=7
count=1
for i in range(1,num+1):
    str1=""
    for j in range(num-i):
        str1=str1+" "
    for k in range(65,65+i):
        str1=str1+chr(k)+" "
    print(str1)

      A
     A B
    A B C
   A B C D
  A B C D E
 A B C D E F
A B C D E F G

In [6]:
num=5
for i in range(1,num+1):
    str1=""
    for j in range(num-i):
        str1=str1+" "
    for k in range(65,65+i):
        str1=str1+chr(k)+""
    print(str1)

    A
   AB
  ABC
 ABCD
ABCDE

In [1]:
num=5
for i in range(1,num+1):
    str1=""
    for j in range(65,65+i):
        str1=str1+chr(j)+""
    print(str1)

A
AB
ABC
ABCD
ABCDE

In [2]:
num=7
b=[]
for i in range(1,num+1):
    str1=""
    for j in range(65,65+i):
        if j not in b:
            b.append(i)
        str1=str1+chr(j)+" "
    print(str1)

A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G

In [26]:
num=7
s=65
for i in range(1,num+1):
    str1=""
    for j in range(num-i):
        str1=str1+" "
    for k in range(65,65+i):
        str1=str1+chr(s)+"  "
        s=s+1
    print(str1)

      A
     B  C
    D  E  F
   G  H  I  J
  K  L  M  N  O
 P  Q  R  S  T  U
V  W  X  Y  Z  [  \

In [3]:
class student:
    def  __init__(self,n,p,a):
        self.fullname=n
        self.age=a
        self.phone=p
    def get_age(self):
        return self.age

In [4]:
a= student("imran",2534355,25)

In [5]:
type(a)

__main__.student

In [6]:
print(a.age)

25

In [7]:
print(a.fullname)

imran

In [8]:
print(a.get_age())

25

In [9]:
class student:
    def __init__(self):
        self.fullname=""
        self.age=0
    def set_name(self,a):
        self.fullname=a
    def get_name(self):
        return self.fullname
    def set_age(self,b):
        self.age=b
    def get_age(self):
        return self.age

In [10]:
a=student()
a.set_name("khan")
a.set_age(25)

In [11]:
a.fullname

'khan'

In [12]:
a.age

25

In [13]:
a.get_age()

25

In [14]:
a.get_name()

'khan'