In [1]:
a=[1,2,3.4,5.5]
a

[1, 2, 3.4, 5.5]

In [2]:
type(a)

list

In [4]:
a.append(3.3)

In [5]:
a

[1, 2, 3.4, 5.5, 3.3]

In [1]:
dic1={0:"saudi",1:"pakistan",2:"india",3:"australia",4:"afghanistan"}

In [5]:
for i in range(5):
    print(dic1[i])

saudi
pakistan
india
australia
afghanistan

In [11]:
di={0:"saudi",1:"pakistan",2:"india",3:"australia",4:"afghanistan"}
for i in range(5):
    print(di[i])

saudi
pakistan
india
australia
afghanistan

In [20]:
c=[1,2,3,4]
result=1

In [21]:
for i in c:
    result=result*i
    print(result)

1
2
6
24

In [17]:
d=[2,3,4,5]
res=2
for i in d:
    res=res*i
    print(res)

4
12
48
240

In [109]:
def largist(d):
    #num=d
    for i in d:
       i=max(d)
    return(i)

In [110]:
d=[3,11,6,7,8,4,2,1,5,9,12,13,14,19,0]
largist(d)

19

In [2]:
def smallest(d):
    num=d
    for i in num:
        i=min(num)
    return(i)

In [3]:
d=[3,11,6,7,8,4,2,1,5,9,12,13,14,19,0]
smallest(d)

0

In [120]:
import random
e=random.sample(range(0,200),80)
print(e)

[6, 128, 106, 79, 32, 175, 37, 144, 70, 21, 17, 59, 48, 13, 139, 127, 67, 121, 124, 149, 185, 187, 28, 55, 77, 192, 135, 141, 95, 133, 80, 114, 180, 29, 104, 143, 199, 148, 182, 193, 11, 18, 140, 176, 42, 109, 50, 195, 12, 73, 177, 5, 119, 26, 125, 113, 10, 146, 3, 16, 99, 65, 170, 198, 62, 163, 86, 160, 85, 45, 102, 91, 194, 116, 90, 158, 36, 41, 27, 110]

In [125]:
def largist1(e):
    ln=e[0]
    for i in e:
        if i>ln:
            ln=i
    return ln

In [126]:
largist1(e)

199

In [127]:
def smallest1(e):
    ln=e[0]
    for i in e:
        if i<ln:
            ln=i
    return ln

In [128]:
smallest1(e)

3

In [70]:
num=5 
for i in range(1,num+1):
    str=""
    for j in range(i):
        str=str+"*"
    print(str)

*
**
***
****
*****

In [21]:
num=5
for i in range(1,num+1):
    str=""
    for j in range(num-i):
        str=str+" "
    for k in range(i):
        str=str+"*"
    
    print(str)

    *
   **
  ***
 ****
*****

In [22]:
num=5
for i in range(1,num+1):
    str=""
    for j in range(num-i):
        str=str+" "
    for k in range(i):
        str=str+" *"
    
    print(str)

     *
    * *
   * * *
  * * * *
 * * * * *

In [4]:
num=5
for i in range(1,num+1):
    str=""
    for j in range(num-i):
        str=str+" "
    for k in range(i):
        str=str+" *"
    
    print(str)

     *
    * *
   * * *
  * * * *
 * * * * *

In [106]:
num=5
for i in range(1,num+1):
    str=""
    for j in range(num-i):
        str=str+" "
    for k in range(i):
        str=str+"* "
    print(str)

    *
   * *
  * * *
 * * * *
* * * * *

In [12]:
class student():
    def __init__(self,a,b,c,d,e):
        self.fullname=a
        self.fathername=b
        self.phone=c
        self.cnic=d
        self.address=e
    def location(self):
        print(self.fullname +" lives in "+self.address)

In [13]:
i=student("imran","attaullah","0998987879","36789889","shabqaddarf")

In [14]:
print(i.fullname,i.phone)

imran 0998987879

In [15]:
print(i.location())

imran lives in shabqaddarf
None

In [53]:
class education():
    def __init__(self,a,b,c):
        self.fullname=a
        self.degree=b
        self.university=c
    def reading(self):
        print(self.fullname, "is reading ",self.degree,"in",self.university)

In [54]:
i=education("imranullah","mcs","bacha khan")

In [56]:
print(i.fullname,i.degree,i.university)

imranullah mcs bacha khan

In [57]:
print(i.reading())

imranullah is reading  mcs in bacha khan
None