# nested for loop

In [1]:
table=int(input("enter range of tables"))
for a in range(1,11):
    for table in range(1,table+1):
        print(f"{table}*{a}={table*a}")

enter range of tables5
1*1=1
2*1=2
3*1=3
4*1=4
5*1=5
1*2=2
2*2=4
3*2=6
4*2=8
5*2=10
1*3=3
2*3=6
3*3=9
4*3=12
5*3=15
1*4=4
2*4=8
3*4=12
4*4=16
5*4=20
1*5=5
2*5=10
3*5=15
4*5=20
5*5=25
1*6=6
2*6=12
3*6=18
4*6=24
5*6=30
1*7=7
2*7=14
3*7=21
4*7=28
5*7=35
1*8=8
2*8=16
3*8=24
4*8=32
5*8=40
1*9=9
2*9=18
3*9=27
4*9=36
5*9=45
1*10=10
2*10=20
3*10=30
4*10=40
5*10=50

In [4]:
 tables=int(input("enter range of tables"))
for tables in range(2,table+1):
    for num in range(1,11):
        print(f"{tables}*{num}={tables*num}")

enter range of tables6
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [5]:
tablenumber=int(input("entre table number"))
for a in range(1,11):
    print(f"{tablenumber}*{a} = {tablenumber*a}")

entre table number3
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30

In [2]:
table=int(input("enter range of tables"))
for table in range(3,table+1):
    for num in range(1,11):
        print(f"{table}*{num}={table*num}")

enter range of tables6
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60