In [4]:
def add(a, b):
    return a+b

In [2]:
add(2, 3)

5

In [3]:
l1 = (1, 2, 3)
l2 = (2, 3, 4)
list(map(add, (l1), (l2)))

[3, 5, 7]

In [8]:
def sub(a, b):
    return a-b

In [9]:
sub(3, 2)

1

In [20]:
def mul(a, b):
    return a * b

In [21]:
mul(2, 3)

6

In [12]:
def div(a, b):
    return a / b

In [13]:
div(6, 2)

3.0

In [27]:
def power(a):
    return a**2
l1 = (2, 3, 5)

In [28]:
list(map(power, (l1)))

[4, 9, 25]

In [39]:
def to_farn(C):
    return 9/5 * C + 32
l1 = (33, 35, 45)

In [41]:
list(map(to_farn,(l1)))

[91.4, 95.0, 113.0]

In [42]:
def to_cels(f):
    return(f-32)*5/9
l1 = (30, 35, 36)

In [43]:
list(map(to_cels, (l1)))

[-1.1111111111111112, 1.6666666666666667, 2.2222222222222223]

In [46]:
def power(x):
    return x**2, x**3, x**4
l1 = (2, 3, 4)

In [47]:
list(map(power, (l1)))

[(4, 8, 16), (9, 27, 81), (16, 64, 256)]

In [48]:
s = ["Asad", "ali", "Imran", "Aqib", "Waseem"]
list(map(list, s))

[['A', 's', 'a', 'd'],
 ['a', 'l', 'i'],
 ['I', 'm', 'r', 'a', 'n'],
 ['A', 'q', 'i', 'b'],
 ['W', 'a', 's', 'e', 'e', 'm']]

In [116]:
import pandas as pd
import numpy as np

In [89]:
df = pd.read_csv("Dataset.csv")
print(df)

  Category      item    Size  Price
0        A      Ball  Medium    200
1        B       Pen   Small     20
2        A       Bat   Large   1000
3        A  Football  Medium    500

In [90]:
t = pd.pivot_table(df, values='Price', index=['Category', 'item'],columns=['Size'],aggfunc =np.sum)
print(t)

Size                Large  Medium  Small
Category item
A        Ball         NaN   200.0    NaN
         Bat       1000.0     NaN    NaN
         Football     NaN   500.0    NaN
B        Pen          NaN     NaN   20.0

In [91]:
t = pd.pivot_table(df, values='Price', index=['Category', 'item'],columns=['Size'],aggfunc =np.mean)
print(t)

Size                Large  Medium  Small
Category item
A        Ball         NaN   200.0    NaN
         Bat       1000.0     NaN    NaN
         Football     NaN   500.0    NaN
B        Pen          NaN     NaN   20.0

In [92]:
t = pd.pivot_table(df, values='Price', index=['Category', 'item'],columns=['Size'],aggfunc =np.min)
print(t)

Size                Large  Medium  Small
Category item
A        Ball         NaN   200.0    NaN
         Bat       1000.0     NaN    NaN
         Football     NaN   500.0    NaN
B        Pen          NaN     NaN   20.0

In [93]:
t = pd.pivot_table(df, values='Price', index=['Category', 'item'],columns=['Size'],aggfunc =np.max)
print(t)

Size                Large  Medium  Small
Category item
A        Ball         NaN   200.0    NaN
         Bat       1000.0     NaN    NaN
         Football     NaN   500.0    NaN
B        Pen          NaN     NaN   20.0

In [94]:
t = pd.pivot_table(df, values='Price', index=['Category', 'item'],columns=['Size'],aggfunc =np.var)
print(t)

Empty DataFrame
Columns: []
Index: []

In [95]:
t = pd.pivot_table(df, values='Price', index=['Category', 'item'],columns=['Size'],aggfunc =np.std)
print(t)

Empty DataFrame
Columns: []
Index: []

In [96]:
t = pd.pivot_table(df, values='Price', index=['Category', 'item'],aggfunc =np.sum)
print(t)

                   Price
Category item
A        Ball        200
         Bat        1000
         Football    500
B        Pen          20

In [108]:
df = pd.read_csv("Data.csv")
print(df)

      Areas        Domain  Salary
0   Medical        Surgen   50000
1       Eng      Elec Eng   30000
2   Medical     Dentalist   30000
3       Eng     Civil Eng   50000
4   Medical  Cardiologist  100000
5   Medical    Orthopadic  120000
6  Medical         Surgen  200000

In [98]:
t = pd.pivot_table(df, values='Salary', index=['Areas', 'Domain'],aggfunc =np.sum)
print(t)

                       Salary
Areas    Domain
Eng      Civil Eng      50000
         Elec Eng       30000
Medical  Cardiologist  100000
         Dentalist      30000
         Orthopadic    120000
         Surgen         50000
Medical  Surgen        200000

In [109]:
t = pd.pivot_table(df, values='Salary', index=['Areas', 'Domain'],aggfunc =np.max)
print(t)

                       Salary
Areas    Domain
Eng      Civil Eng      50000
         Elec Eng       30000
Medical  Cardiologist  100000
         Dentalist      30000
         Orthopadic    120000
         Surgen         50000
Medical  Surgen        200000

In [110]:
t = pd.pivot_table(df, values='Salary', index=['Areas', 'Domain'],aggfunc =np.min)
print(t)

                       Salary
Areas    Domain
Eng      Civil Eng      50000
         Elec Eng       30000
Medical  Cardiologist  100000
         Dentalist      30000
         Orthopadic    120000
         Surgen         50000
Medical  Surgen        200000

In [111]:
t = pd.pivot_table(df, values='Salary', index=['Areas', 'Domain'],aggfunc =np.sum)
print(t)

                       Salary
Areas    Domain
Eng      Civil Eng      50000
         Elec Eng       30000
Medical  Cardiologist  100000
         Dentalist      30000
         Orthopadic    120000
         Surgen         50000
Medical  Surgen        200000

In [118]:
t = pd.pivot_table(df,values='Salary', index=['Areas', 'Domain'], aggfunc =np.var)
print(t)

Empty DataFrame
Columns: []
Index: []

In [119]:
Dataset = {
    "Degree": ["Cs", "SE", "Civil Eng"],
    "Subject":["Physics", "Computer science", "Maths"],
    "No of students":[21, 20, 30]
}
df = pd.DataFrame(Dataset)
print(df)

      Degree           Subject  No of students
0         Cs           Physics              21
1         SE  Computer science              20
2  Civil Eng             Maths              30